<div class="container">
  <h1>Child  to Parent and Parent to Child - V2</h1>
  <hr />


  <div class="card">
    <div class="card-header text-center">
      <h2>Counter App-1</h2>
    </div>
    <div class="card-body">
      <div class="row">
        <div *ngFor="let btnLable of buttons" class="col-2">
          <app-counter (parentEvent)="f1($event)" [btnLable]=btnLable></app-counter>
        </div>
      </div>
    </div>

    <div class="card-footer text-center">
      <h2> <app-summary [totalCount]=totalCount></app-summary></h2>
    </div>

  </div>

  