<div class="col-5">

    <form [formGroup]="productForm" (ngSubmit)="handleSubmit()" autocomplete="off">
        <div class="mb-3">
            <label for="">Product Id</label>
            <input type="text" name="productId" formControlName="productId" class="form-control" />
            <span *ngIf="fc.productId.errors?.required" class="text-danger">Product Id Required</span>
        </div>

        <div class="mb-3">
            <label for="">Product Name</label>
            <input type="text" name="productName" formControlName="productName" class="form-control" />
        </div>

        <div class="mb-3">
            <label for="">Price</label>
            <input type="text" name="price" formControlName="price" class="form-control" />
        </div>
        <div class="mb-3">
            <label for="">Description</label>
            <textarea name="description" formControlName="description" class="form-control"></textarea>
        </div>



        <div class="mb-3 text-center">
            <button class="btn btn-primary">Save</button>
        </div>
    </form>
</div>