<div class="container">
  <h1>Welcome to Angular</h1>
  <hr />

  <h2>City: {{cityName}} </h2>

  <hr />




  <div class="row">   
    <div class="col-12 col-md-4">
      <img src="/assets/images/tj1.png" class="border rounded" height="250" width="100%">
    </div>

    <div class="col-12 col-md-8">
      <img src="/assets/images/img1.jpg"  height="100%" width="100%">
    </div>

  </div>

<hr/>
  <div class="row">   
    <div class="col-12 col-md-4">
      <img src="/assets/images/tj1.png" class="border rounded" height="250" width="100%">
    </div>

    <div class="col-12 col-md-4">
      <img src="/assets/images/img1.jpg"  height="100%" width="100%">
    </div>

    <div class="col-12 col-md-4">
      <img src="/assets/images/tj1.png" class="border rounded" height="250" width="100%">
    </div>

  </div>

  <hr/>
  <div class="row">   
    <div class="col-12 col-md-2">
      <img src="/assets/images/tj1.png" class="border rounded" height="250" width="100%">
    </div>

    <div class="col-12 col-md-10">
      <img src="/assets/images/img1.jpg"  height="100%" width="100%">
    </div>

  </div>

  <hr/>
  <div class="row">   


    <div class="col-12 col-md-12">
      <img src="/assets/images/img1.jpg"  height="100%" width="100%">
    </div>

  </div>

  <hr/>
  <div class="row">   
    <div class="col-12 col-md-5">
      <img src="/assets/images/tj1.png" class="border rounded" height="250" width="100%">
    </div>

    <div class="col-12 col-md-2">

      <ul>
        <li>98%</li>
        <li>Creit Card Payment</li>
      </ul>

    </div>

    <div class="col-12 col-md-5">
      <img src="/assets/images/tj1.png" class="border rounded" height="250" width="100%">
    </div>

  </div>



<hr/>





  <div class="row">

    <div class="col-12 col-sm-6 col-md-4 col-xl-4">
      <img src="/assets/images/tj1.png" class="border rounded" height="250" width="100%">
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-xl-4 mt-3">
      <img src="/assets/images/tj1.png" class="border rounded" height="250" width="100%">
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-xl-4 mt-3">
      <img src="/assets/images/tj1.png" class="border rounded" height="250" width="100%">
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-xl-4 mt-3">
      <img src="/assets/images/tj1.png" class="border rounded" height="250" width="100%">
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-xl-4 mt-3">
      <img src="/assets/images/tj1.png" class="border rounded" height="250" width="100%">
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-xl-4 mt-3">
      <img src="/assets/images/tj1.png" class="border rounded" height="250" width="100%">
    </div>


  </div>


</div>